/config.json
/.DS_Store
/.idea
/bower_components
/node_modules
/build
/build.zip
/src.zip
/prerender
*.sublime-project
*.sublime-workspace
*.log
*.project
*.tmp
dist
docs
*.env
npm-debug.log
*.nyc_output
coverage
cassettes
