.h-auto {height: auto;}
.inline-block {display: inline-block;}
.d-table {display: table;}
.d-table-cell {display: table-cell;}
.va-middle {vertical-align: middle;}
.va-bottom {vertical-align: bottom;}
.va-top {vertical-align: top;}
.d-inline-flex {display: inline-flex;}
.w-100 {width: 100%;}
.w-50 {width: 50% !important;}
.l-50 {left: 50% !important;}
.h-100 {height: 100%;}
.overflow-h {overflow: hidden;}
.pos-rel {position: relative;}
.pos-abs {position: absolute;}
.pos-fix {position: fixed;}
.pos-static {position: static;}
.top {top: 0;}
.bottom {bottom: 0;}
.left {left: 0;}
.right {right: 0;}
.block {display: block;}
.cursor-p {cursor: pointer;}
.text-center { text-align: center;}
.capitalize { text-transform: capitalize;}

/* Padding */
.pd-tb0 {padding-top: 0;padding-bottom: 0;}
.no-padding {padding: 0px !important;}
.pd-t5 {padding-top: 5px;}
.pd-t10 {padding-top: 10px;}
.pd-b10 {padding-bottom: 10px;}
.pd-b40 {padding-bottom: 40px;}
.pd-tb5 {padding-top: 5px;padding-bottom: 5px;}
.pd-tb15 {padding-top: 15px;padding-bottom: 15px;}
.pd-tb10 {padding-top: 10px;padding-bottom: 10px;}
.pd-tb20 {padding-top: 20px;padding-bottom: 20px;}
.pd-tb25 {padding-top: 25px;padding-bottom: 25px;}
.pd-tb30 {padding-top: 30px;padding-bottom: 30px;}
.pd-tb40 {padding-top: 40px;padding-bottom: 40px;}
.pd-tb50 {padding-top: 50px;padding-bottom: 50px;}
.pd-lr0 {padding-left: 0;padding-right: 0;}
.pd-r0 {padding-right: 0 !important;}
.pd-l0 {padding-left: 0px !important;}
.pd-lr5 {padding-left: 5px;padding-right: 5px;}
.pd-lr10 {padding-left: 10px;padding-right: 10px;}
.pd-lr15 {padding-left: 15px;padding-right: 15px;}
.pd-lr20 {padding-left: 20px !important;padding-right: 20px !important;}
.pd-lr30 {padding-left: 30px !important;padding-right: 30px !important;}
.pd-lr40 {padding-left: 40px;padding-right: 40px;}
.pd-lr75 {padding-left: 75px;padding-right: 75px;}
.pd-5{padding: 5px;}
.pd-10{padding: 10px;}
.pd-30{padding: 30px;}
.pd-40{padding: 40px;}
.pd-50{padding: 50px;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
/* Padding */

/* Margin */
.mr-auto {margin: auto;}
.mr-0 {margin: 0px !important;}
.mr-0auto {margin: 0px auto;}
.mr-r0 {margin-right: 0px;}
.mr-b0 {margin-bottom: 0px;}
.mr-t8 {margin-top: 8px;}
.mr-t9 {margin-top: 9px;}
.mr-t10 {margin-top: 10px;}
.mr-t15 {margin-top: 15px;}
.mr-t20 {margin-top: 20px;}
.mr-t30 {margin-top: 30px;}
.mr-t40 {margin-top: 40px;}
.mr-t50 {margin-top: 50px;}
.mr-b30 {margin-bottom: 30px;}
.mr-r10 {margin-right: 10px;}
.mr-lr5 {margin-left: 5px;margin-right: 5px;}
.mr-lr10 {margin-left: 10px;margin-right: 10px;}
.mr-lr15 {margin-left: 15px;margin-right: 15px;}
.mr-tb5 {margin-top: 5px;margin-bottom: 5px;}
.mr-tb10 {margin-top: 10px;margin-bottom: 10px;}
.mr-tb20 {margin-top: 20px;margin-bottom: 20px;}
.mr-tb25 {margin-top: 25px;margin-bottom: 25px;}
.mr-tb30 {margin-top: 30px;margin-bottom: 30px;}
.mr-tb40 {margin-top: 40px;margin-bottom: 40px;}
/* Margin */

/* Borders */
.border-t475756 {border-top: 1px solid #475756;}
.border-radius-0 {border-radius: 0px;}
.border-radius-15 {border-radius: 15px;}
.border-radius-10 {border-radius: 10px;}
/* Borders */

/*colors*/
.color-white {color: #fff;}
.color-grey {color: #808080;}
.color-lightblue { color: #2d79fd;}
/*colo*/

/* Background colors */
.bg-lightgray {background-color: #eee;}
.bg-grey {background-color: #999999;}
.bg-green {background-color: #58afa5;}
.bg-white {background-color: #fff;}
.bg-black {background-color: #000;}
.bg-1f2b2a {background-color: #1f2b2a;}
/* Background colors */

/*Font-sizes*/
.fs-8 {font-size: 57.14%; /* 8px, 6pt */}
.fs-9 {font-size: 64.3%; /* 8px, 6pt */}
.fs-10 {font-size: 71.43%; /* 10px, 7.5pt */}
.fs-11 {font-size: 78.57%; /* 11px, 8pt */}
.fs-12 {font-size: 85.71%; /* 12px, 9pt */}
.fs-13 {font-size: 92.86%; /* 13px, 10pt */}
.fs-14 {font-size: 100%; /* 14px 10.5pt */}
.fs-15 {font-size: 107.14%; /* 15px 11pt */}
.fs-16 {font-size: 114.29%; /* 16px, 12pt */}
.fs-17 {font-size: 121.43%; /* 17px, 13pt */}
.fs-18 {font-size: 128.57%; /* 18px 13.5pt */}
.fs-19 {font-size: 135.71%; /* 19px, 14pt */}
.fs-20 {font-size: 142.86%; /* 20px, 14.5pt */}
.fs-22 {font-size: 157.14%; /* 22px, 16pt */}
.fs-24 {font-size: 171.43%; /* 24px, 18pt */}
.fs-25 {font-size: 178.57%; /* 24px, 18pt */}
.fs-26 {font-size: 185.71%; /* 26px, 20pt */}
.fs-30 {font-size: 214.3%; /* 30px, 26pt */}
.fs-32 {font-size: 228.57%; /* 32px; 24pt */}
.fs-36 {font-size: 257.14%; /* 36px; 27pt */}
.fs-40 {font-size: 285.71%; /* 40px; 30pt */}
.fs-42 {font-size: 300.00%; /* 40px; 30pt */}
.fs-45 {font-size: 321.43%; /* 40px; 30pt */}
.fs-48 {font-size: 342.86%; /* 40px; 30pt */}
.fs-50 {font-size: 357.1%;}
.fs-55 {font-size: 392.9%;}
.fs-60 {font-size: 400.9%;}

/*Font-weight*/
.fw-100 {font-weight: 100;}
.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;*font-weight: normal;}
.fw-800 {font-weight: 800;*font-weight: normal;}
.fw-br {font-weight: bolder;}
.fw-lr {font-weight: lighter;}
.fw-b {font-weight: bold;}
